<?xml version="1.0"?>
<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <!--<add key="Database_Main_ConnectionString" value="Server=78.47.53.196;Port=5433;Database=tajmero;Userid=usr_tajmero;Password=ZZZp%3f8qJMK*BYPSUuK;"/>-->
  <add key="Database_Main_ConnectionString" value="Server=localhost;Port=5432;Database=Tajmero;Userid=postgres;Password=postgres;Pooling=true;MinPoolSize=1;MaxPoolSize=20;ConnectionLifeTime=15;"/>
  <add key="Smtp_DeliveryMethod" value="Network"/>
  <add key="Smtp_EnableSsl" value="true"/>
  <add key="Smtp_From" value="somehypertool@gmail.com"/>
  <add key="Smtp_Host" value="smtp.gmail.com"/>
  <add key="Smtp_Password" value="hajpertul"/>
  <add key="Smtp_UseDefaultCredentials" value="false"/>
  <add key="Smtp_Port" value="587"/>
  <add key="Smtp_Username" value="somehypertool@gmail.com"/>
  <add key="Email_Account_Name" value="HyperTool"/>
  <add key="Version_Number" value="0.1.18"/>
  <add key="Last_Deploy" value="20.09.2016"/>
  <add key="Base_URI" value="http://localhost:57814"/>
  <add key="AccountRegistrationEnabled" value="true"/>
  <add key="Storage_BaseUrl" value="http://localhost:57814/storage"/>
  <add key="Storage_RootPath" value="~/storage"/>
</appSettings>