@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Scrapper Menu</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Start scraping links</h2>
        <p>
            Scrap links of the shoes...
        </p>
        <div class="scrapping-info-links">
        </div>
        <p><a class="btn btn-primary scrap-links" data-action="@Url.Action("GetLinks", "Home")">Scrap product links &raquo;</a></p>

        <p >
            Scrap details of the links...
        </p>
        <div class="scrapping-info">
        </div>
        <p><a href="javascript:;" class="btn btn-default scrap-details" data-action="@Url.Action("GetProductDeatils", "Home")">Scrap product details &raquo;</a></p>
    </div>

</div>


@section scripts {

    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script>

        $(function () {

            $(document).on('click', '.scrap-links', function (e) {

                e.preventDefault();

                $(this).attr("disabled", true);
                $(this).text('scraping links...')

                $.ajax({
                    url: $(this).data('action'),
                    type: 'POST'
                }).done(function (response) {
                    $(this).attr("disabled", false);
                    $(this).text('Scrap product links...');

                    $(".scrapping-info-links").text(response.Total + 'item links scrapped!');
                    console.log('finished ajax call...');

                }).fail(function () {
                    $(this).attr("disabled", false);
                    $(this).text('Scrap product links...');

                });
            });

            $(document).on('click', '.scrap-details', function (e) {

                e.preventDefault();

                $(this).attr('disabled', true);
                $(this).text('scraping details...')

                $.ajax({
                    url: $(this).data('action'),
                    type: 'POST'
                }).done(function (response) {
                    $(this).attr('disabled', false);
                    $(this).text('Scrap product details...');

                    $(".scrapping-info").text(response.Total + 'item detailes scrapped!');
                    console.log('finished ajax call...');

                }).fail(function () {
                    $(this).attr('disabled', false);
                    $(this).text('Scrap product details...');

                });
            });
                

        });
    </script>
}